@tailwind components;

@layer components {
  
  .blog-container{
    &{
      @apply text-gray-700 text-sm;

    }

    .blog-content{

      h1,h2,h3,h4,h5,h6{
        font-size: revert;
        font-weight: revert;
        margin: revert;
      }
    }


    p{
      margin-bottom: 1rem;
    }
  }
}