.service-time-box {
  padding: 2.4rem;
  background: #ffffff;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12),
    0px 8px 16px -6px rgba(24, 39, 75, 0.08);
  border-radius: 2rem;
}

.title-servic {
  font-style: normal;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: #000000;
}

.time-list-pro {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ser-des {
  font-style: normal;
  font-weight: normal;
  font-size: 1.32rem;
  line-height: 1.6rem;
  text-align: center;
  color: #b6bcc1;
}

.job-provider-card {
  padding: 2.4rem;
  background: #ffffff;
  border: 1px solid #f1f2f6;
  box-sizing: border-box;
  box-shadow: 0 1px 2.4rem 0.8rem #14141414;
  border-radius: 20px;
  margin-bottom: 5rem;

  .user-img {
    width: 9.6rem;
    min-width: 9.6rem;
    height: 9.6rem;
    & > img {
      border-radius: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .user-detail {
    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 2.8rem;
      line-height: 3.4rem;
      color: #000000;
    }

    .job-status {
      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 2.5rem;
      color: #b6bcc1;
    }
  }
}

.useer-qust {
  margin-top: 2rem;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #000000;
    margin-bottom: 1rem;
  }

  .des {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #606060;
  }
}

.review-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #000000;
  margin-bottom: 2rem;
}

.review-item {
  .review-img {
    width: 7.6rem;
    min-width: 7.6rem;
    height: 7.6rem;
    background: #f1f2f6;
    border-radius: 100px;
    overflow: hidden;
    margin-right: 3.5rem;
  }

  .review-detail {
    padding: 0 2rem;
    border-left: 0.4rem solid #b6bcc1;
    font-style: italic;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #606060;
  }
}

.profile-info {
  .pro-pic {
    width: 16rem;
    height: 16rem;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .pro-title {
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.4rem;
    color: #000000;
    margin-bottom: 2rem;
  }

  .pro-price {
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 4.1rem;
    color: #fea629;
    margin-bottom: 2rem;
  }

  .pro-jos-status {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: #b6bcc1;
    margin-bottom: 2rem;
  }

  .profile-box-11 {
    width: 16rem;
    height: 16rem;
    position: relative;
    margin: 0 auto;
  }
}

.amet-minim {
  .amet-img {
    width: 3.7rem;
    height: 3.7rem;
    background: #f1f2f6;
    border-radius: 100%;
    overflow: hidden;
  }

  h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #b6bcc1;
  }
}

.profile-links-left {
  .item {
    padding: 1rem 0rem;

    .link {
      padding: 0rem 0rem;
      transition: all 0.4s;
      font-style: normal;
      font-weight: normal;
      font-size: 1.8rem;
      line-height: 2rem;
      color: #444444;
      transition: all 0.4s;

      &:hover {
        padding: 0 1rem;
        color: $primary;
      }
    }
  }
}

.revie-card {
  &:not(:last-of-type) {
    margin-bottom: 5rem;
  }
  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #000000;
  }
}
